.page-content
	overflow hidden
	display flex
.add-info
	background-color #fff
	text-align center
	padding 20px
	.form
		width 800px
		padding 20px
		flex 1
	.details
		flex 1
	.btn
		margin-right 10px
	.op-btn
		clear both
		